<html>
    <head>
  <title="Weapons Cache"/>
        <%= stylesheet_link_tag 'shop', media: 'all', 'data-turbolinks-track' =>true  %>
    </head>
    <body>
       <div class="jumbotron well col-md-10 row col-md-offset-1 text-center">
        <h1>Welcome to the weapons cache!</h1>
        <p>This is a random placeholder paragraph.</p>
        </div>
        
        <div class="jumbotron col-md-3 row col-md-offset-1 crate woodcrate"><img src="assets/crates/weaponcrate.png" class="crpic">
            <div class="well descwell">
                <h1 class="text-center dhead">Wooden Crate</h1>
                <p class="text-center desc">A wooden crate can contain a <span style="color:#fff9d3;">Common</span>, 
                <span style="color:#bffc8a;">Exceptional</span>, or <span style="color: #00e1ff;">Magneficant</span> Skin</p>
            </div>
            
             <div class="well buywell">
                    <p class="text-center">Buy $0.99</p>
                </div>
        </div>
        
        <div class="jumbotron col-md-3 row col-md-offset-1 crate ironcrate"><img src="assets/crates/ironcrate.png" class="crpic">
            <div class="well descwell">
                <h1 class="text-center dhead" style="color: #e3e4e5 !important;">Iron Crate</h1>
                <p class="text-center desc">An iron crate can contain either an <span style="color:#bffc8a;">Exceptional</span> or a <span style="color: #00e1ff;">Magneficant</span> Skin!</p>
            </div>
            
             <div class="well buywell">
                    <p class="text-center">Buy $2.49</p>
                </div>
        </div>
         
         
         <div class="jumbotron col-md-3 row col-md-offset-1 crate steelcrate"><img src="assets/crates/steelcrate.png" class="crpic">
            <div class="well descwell" style="padding-bottom: 30px">
                <h1 class="text-center dhead" style="color: #8ebaff !important;">Steel Crate</h1>
                <p class="text-center desc">A steel crate will always contain a <span style="color: #00e1ff;">Magneficant</span> Skin!</p>
                </br>
            </div>
              <div class="well buywell">
                    <p class="text-center">Buy $3.99</p>
                </div>
        </div>
    </body>
</html>